/target
/crates/boat/target
/crates/server/target
/crates/harbourmaster/target
/crates/shared/target

logs.log
*.log
todo
*/.env
harbourmaster_database.db

.VSCodeCounter

/crates/harbourmaster/.env

windows.txt

/tools